body {
    margin: 0;
    padding: 0;
    font-family: 'Anuphan', sans-serif;
    font-family: 'Athiti', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'K2D', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Krub', sans-serif;
    font-family: 'Maitree', serif;
    font-family: 'Mitr', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Noto Serif Thai', serif;
    font-family: 'Pridi', serif;
    font-family: 'Sarabun', sans-serif;
    font-family: 'Taviraj', serif;
    scrollbar-width: thin;
    scrollbar-color: #ffffff transparent;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin-bottom: 120px;
}

.password-reset-form {
    width: 700px;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    /* background: linear-gradient(90deg, #194F4A 0%, rgba(27, 89, 84, 0.75) 100%); */
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    border: 2px solid #19ddd3;
    color: #fff;
}

.password-reset-form h2 {
    font-size: 25px;
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    /* จัดเนื้อหาให้อยู่กลางแนวตั้ง */
    justify-content: center;
    /* จัดเนื้อหาให้อยู่กลางแนวนอน */
}

.form-group {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px; */
    text-align: left;
}

.form-group label {
    /* margin-bottom: 10px; */
    /* font-weight: bold; */
}

.form-group input {
    /* background-color: white; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* flex: 1; */
    /* เพิ่ม flex property เพื่อให้ input ขยายตามพื้นที่ที่เหลือ */
    margin-right: 1px;
    /* เพิ่มระยะห่างด้านขวาของ input */
    /* margin-bottom: 10px; */
    /* height: 30px; */
}

.con-rsp[type="button"] {
    width: 100%;
    padding: 8px;
    color: white;
    /* border: none; */
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #227fd6;
    font-weight: 200;
}

.con-rsp[type="button"]:hover {
    background-color: #378ee0;
}

.form-group input[type="password"] {
    width: auto;
    padding: 10px 30px 10px 10px;
    padding-left: 20px;
    /* เพิ่มช่องเพื่อให้ภาพไม่ทับข้อความ */
    /* border: none; */
    /* border-radius: 50px;
    margin-bottom: 10px; */
    background-image: url('../images/lock\ b.png');
    /* URL ของภาพที่คุณต้องการใช้ */
    background-repeat: no-repeat;
    /* ไม่ให้รูปภาพทำซ้ำ */
    background-position: right 10px center;
    /* จัดตำแหน่งภาพที่ต้องการ (ขวาตรงกลาง) */
    background-size: 20px 20px;
    /* ขนาดของภาพ */
    padding-right: 30px;
    /* เพิ่มช่องว่างข้างขวาเพื่อไม่ให้ข้อความทับภาพ */
}