body {
    margin: 0;
    padding: 0;
    font-family: 'Anuphan', sans-serif;
    font-family: 'Athiti', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'K2D', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Krub', sans-serif;
    font-family: 'Maitree', serif;
    font-family: 'Mitr', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Noto Serif Thai', serif;
    font-family: 'Pridi', serif;
    font-family: 'Sarabun', sans-serif;
    font-family: 'Taviraj', serif;
    scrollbar-width: thin;
    scrollbar-color: #ffffff transparent;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

.contrain-fg {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 150px;
    /* background-color: #b8083d; */
}

.row-fg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
}

.row-1-fg {
    display: flex;
    justify-content: left;
    text-align: center;
    /* background-color: #3498db; */
    margin-top: 25px;
    margin-bottom: 45px;
}

.row-2-fg {
    /* background-color: #e74c3c; */
    /* justify-content: left; */
}

.row-3-fg {
    /* background-color: #2ecc71; */
    margin-bottom: 40px;
}

.row-4-fg {
    /* background-color: #2eb4cc; */
}

.row-5-fg {
    /* background-color: #462ecc; */
}

.col-fg {
    /* text-align: center; */
    align-items: center;
    display: flex;
    color: white;
    /* margin-bottom: 20px; */
}

.col-1-fg {
    /* background-color: #f39c12; */
    width: 60%;
    max-width: 70%;
    /* flex: 1; */
}

.col-1-fg p {
    margin-right: 15px;
    /* margin-left: 15px; */
}

.pp {
    margin-left: 15px;
}

.col-2-fg p {
    /* background-color: #f37712; */
    /* text-align: left; */
}

.col-2-fg {
    /* background-color: #f37712; */
    flex: 1;
}

.col-3-fg {
    /* background-color: #9b59b6; */
    flex: 1;
    display: flex;
    justify-content: center;
}

.col-4-fg {
    /* background-color: #b6595e; */
    flex: 1;
    display: flex;
    justify-content: center;
}

.col-5-fg {
    /* background-color: #adb659; */
    flex: 1;
    display: flex;
    justify-content: center;
}

.col-6-fg {
    /* background-color: #5994b6; */
    flex: 1;
    display: flex;
    justify-content: center;
}

.col-7-fg {
    /* background-color: #b67359; */
    flex: 1;
    display: flex;
    justify-content: center;
}

.col-8-fg {
    /* background-color: #b65988; */
    flex: 1;
    display: flex;
    justify-content: center;
}

.col-9-fg {
    /* background-color: #9b59b6; */
    flex: 1;
    display: flex;
    justify-content: center;
}

.col-fg {
    /* margin-bottom: 40px; */
    /* background-color: #227fd6; */
}

.col-fg input {
    /* min-width: 1000px; */
    /* width: 100%; */
    /* max-width: 1600px; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

/* .dropdown img {
    width: 20px;
    height: 20px;
}

.dropdown summary {
    background-color: white;
    color: black;
    border: 2px solid #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.dropdown summary:hover {
    border: 2px solid #19ddd3;
    background-color: white;
}

.dropdown ul {
    background-color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.dropdown ul:hover {
    background-color: white;
}

.dropdown ul li a {
    color: black;
}

.dropdown ul li a:hover {
    background-color: #dbdbdb;
    color: black;
} */

.horizontal-lines {
    width: auto;
    height: 2px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #fff;
}

/* .card:hover {
    border: 2px solid #19ddd3;
} */

.card {
    overflow: hidden;
    /* border-radius: 505px; */
    border: 2px solid #19ddd3;
}

.card:hover {
    overflow: hidden;
    /* border-radius: 505px; */
    border: 2px solid #e41050;
}

.card img {
    border-radius: 22px 22px 20px 20px;
    height: 225px;
    width: 100%;
    border: 2px solid #837b7b;
}

.card:hover .card-title {
    color: #e41050;
    /* font-size: 25px; */
    font-weight: bold;
}

.card .card-title:hover {
    color: #b8083d;
    font-size: 22px;
}

.card-body p {
    text-align: left;
    margin-bottom: 5px;
}

.card-body a {
    justify-content: center;
    margin-bottom: 10px;
}

.bottom-box-fg {
    display: flex;
    margin-bottom: 25px;
    margin-top: -15px;
    justify-content: center;
}

.bottom-box-fg img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border: none;
    border-radius: 0px;
}

.bottom-box-fg p {
    color: black;
}

.card-title {
    position: relative;
}

.card-title::after {
    padding-right: 75px;
    margin-bottom: -7px;
    content: "";
    /* เพิ่มข้อความด้วย CSS content */
    position: absolute;
    /* เพิ่ม CSS position */
    bottom: 0;
    /* จัดให้อยู่ด้านล่าง */
    left: 0;
    /* จัดให้ติดขอบซ้าย */
    width: 100%;
    /* ทำให้เต็มความกว้าง */
    height: 2px;
    /* ความสูงของเส้นวิ่ง */
    background-color: #b8083d;
    /* สีของเส้นวิ่ง */
    transform: scaleX(0);
    /* ทำให้เริ่มต้นด้วยขนาด 0 */
    transform-origin: center;
    /* จุดเริ่มต้นของการขยาย */
    transition: transform 0.3s ease-in-out;
    /* เพิ่มการเปลี่ยนแปลงการแสดงผลด้วยการเคลื่อนไหวที่น่าสนใจ */
}

.card-title:hover::after {
    transform: scaleX(1);
    /* เมื่อโฮเวอร์บน .card-title จะขยายเส้น */
}

button.centered-button {
    /* background-color: white; */
    /* background-color: #19ddd3; */
    /* transition: background-color 0.3s, transform 0.3s; */
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    /* color: black; */
    width: 380px;
    height: 45px;
    /* border-radius: 15px; */
    margin-top: 55px;
    margin-bottom: 50px;
    /* font-size: 22px; */
    font-weight: 200;
}

.centered-button:hover {
    /* background-color: #227fd6; */
    /* border: 2px solid #fff; */
    /* color: white; */
}

.top-left-box-fg {
    width: 100px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 15px 0px 40px 0px;
    background: rgba(240, 243, 240, 0.363);
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes rotateInnerCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

div[role="progressbar"] {
    --size: 65px;
    --fg: rgb(36, 164, 224);
    /* --fg: linear-gradient(180deg, #00A3FF 0%, #00FFF0 100%); */
    --bg: rgb(243, 227, 234);
    --pgPercentage: var(--value);
    animation: growProgressBar 1s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, rgb(46, 120, 206) 80%, transparent 0 99.9%),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-size: calc(var(--size) / 5);
    /* color: var(--fg); */
    color: white;
    font-weight: bold;
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    
}

.join input,
.join select {
    border: 2px solid;
}

.join button {
    border: 2px solid;
    font-weight: 200;
}

.join button:hover {
    font-weight: bold;
}